<app-navigation></app-navigation>
<div class="main-container">
  <div>
    <h1 class="title">Are you ready to<br/><b>lead the way</b></h1>
    <p class="description">Mauris porta lectus nulla, non dignissim dolor sollicitudin et. Sed mi tortor, aliquam eget congue a, faucibus sed est.</p>
    <button>BUY NOW</button>
  </div>
  <div>
    <div>
      <img class="shadow" src="assets/images/ellipse.png"></div>
      <img class="main-article" src="assets/images/3414.png">
    <div class="secondary-container">
      <app-item [color]="'#FF0073'"
        class="item"
        [selected]="selectedItem === 1"
        (click)="selectItem(1)"
        [imgUrl]="'assets/images/3414-small.png'"></app-item>
      <app-item [color]="'#57C7E4'"
        class="item"
        (click)="selectItem(2)"
        [selected]="selectedItem === 2"
        [imgUrl]="'assets/images/Blue.png'"></app-item>
      <app-item [color]="'#ECDC47'"
        class="item"
        [last]="true"
        (click)="selectItem(3)"
        [selected]="selectedItem === 3"
        [imgUrl]="'assets/images/Yellow.png'"></app-item>
    </div>
  </div>
</div>
<app-bubble [size]="275"
  [top]="249"
  [left]="-55"></app-bubble>
<app-bubble [size]="139"
  [top]="993"
  [left]="1836"></app-bubble>
<app-bubble [size]="205"
  [top]="201"
  [left]="1214"></app-bubble>
<app-bubble [size]="96"
  [top]="171"
  [left]="1337"></app-bubble>
<app-bubble [size]="139"
  [top]="798"
  [left]="639"></app-bubble>
<app-bubble [size]="75"
  [top]="937"
  [left]="59"></app-bubble>
