@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');


* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(0.75turn, #FCE7F6, #E3EAF8);
}
